name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [24.x]

        env:
            CI: true
            COVERAGE: ${{ matrix.node-version == '24.x' && true || false }}

        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - run: corepack enable
            - run: yarn install
            - run: yarn build
            - run: yarn test
            - run: yarn lint:ci

            # Coverage.
            - name: Run coverage
              if: ${{ env.COVERAGE == 'true' }}
              run: |
                  yarn coverage
                  yarn coverage:report
            - name: Report coverage
              if: ${{ env.COVERAGE == 'true' }}
              uses: codecov/codecov-action@v5
              with:
                  files: coverage/coverage.lcov
