name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [24.x]

        env:
            CI: true
            COVERAGE: ${{ matrix.node-version == '24.x' && true || false }}

        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
            - run: corepack enable
            - run: yarn install
            - run: yarn build
            - run: yarn test
            - run: yarn lint:ci

            # Coverage.
            - name: Run coverage
              if: ${{ env.COVERAGE == 'true' }}
              run: |
                  yarn coverage
                  yarn coverage:report
            - name: Report coverage
              if: ${{ env.COVERAGE == 'true' }}
              uses: codecov/codecov-action@v5
              with:
                  files: coverage/coverage.lcov
